@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
body{
    margin: 0;
    padding: 0;
    background: url(./images/bg-desktop.svg),hsl(257, 40%, 49%);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-family: 'Open Sans', sans-serif;
}

.head-image{
    display: none;
}


.container{
    margin: 50px auto auto;
    display: flex;
    height: 93vh;
    width: 90%;
    max-width: 80rem;
    justify-content: center;
    align-self: center;
}

.left{
    width: 100%;
    min-width:500px;
    background-image: url(./images/illustration-mockups.svg);
    background-repeat: no-repeat;
    background-position-y: center;
    background-size: contain;
}

.scnd-part{
    margin-left:  3.59rem;
    align-self: center;
}

.heading{
    font-size: 2.7rem;
    font-family: 'Poppins', sans-serif;
}

.scnd-part p{
    line-height: 1.5rem;
    font-size: 1.23rem;
    margin-bottom: 2.3rem;
}


.register_btn{
    background: white;
    padding: 1.1rem 4rem;
    font-size: 1.4rem;
    border-radius: 2rem;
    text-decoration: none;
}

ul{
    display: flex;
    gap: 5px;
    position: absolute;
    bottom: 50px;
    right: 31px;
}
ion-icon{
    height: 2rem;
    width: 2rem;
}

@media screen and (max-width:1000px){
    .heading{
        font-size: 2.1rem;
    }
    ul{
        bottom: -10px;
    }
    .left{
        min-width: 400px;
    }
    .scnd-part p{
        font-size: 1.1rem;
    }
    .register_btn{
        padding: 0.5rem 4rem;
    }
}



@media screen and (max-width:800px){
    body{
    margin: 0;
    padding: 0;
    background: url(./images/bg-mobile.svg),hsl(257, 40%, 49%);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.head-image{
    display: block;
}

.left{
    background: none;
}

.container{
    display: block;
    height: auto;
    width: fit-content;
}

.main_logo{
    width: 50%;
    max-width: 14.2rem;
    margin: 0px;
    padding-left: 17px;
}

.head-image{
    display: flex;
    width:80%;
    margin:30px auto;
}

.scnd-part{
    text-align: center;
    width: 80%;
    margin: 0 auto;
}

.scnd-part p{
 margin: 40px auto; 
 width:80%;
}

.register_btn{
    display: block;
    font-size: 20px;
    background: white;
    padding: 10px 30%;
    text-decoration: none;
    border-radius: 20px;
}

footer{
    position: fixed;
    bottom: 0;
    background: #000;
    width: 100vw;
}

ul{
    position: unset;
    margin: 86px auto 35px auto;
    display: inline-flex;
    padding: 0;
    gap:10px;
}
}